# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exp
*.ilk
*.pdb
*.idb
*.ocx

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Visual Studio Project
*.sdf
*.opensdf
*.aps
*.suo
*.user

duilib/DuiLib/Debug
FLIRDriver/Debug
IRCameraProbe/Debug
FLIRDriverTest/Debug
ipch
Debug/obj
